body{
  margin: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

canvas{
  margin: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#login{
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  align-items: center;
}

.login-text{
  color:black;
  text-align: center;
}

#login-button{
  width: 70%;
  margin: 5%;
}

.text-field{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  height: 30px;
  margin-top: 2%;
}